useDynLib(RcppClassicExamples)

import(Rcpp)
import(RcppClassic)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample,
       RcppMatrixExample,
       RcppStringVectorExample
)


