useDynLib(Rcpp)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample)

## from inline
import("methods")

export(
  "cfunction"
)

exportMethods(
  "setCMethod"
)
